START=yes
NFILES=131072
MEMLOCK=82000
DAEMON_OPTS="-a :80 \
              -T localhost:6082 \
              -b localhost:8080 \
              -u varnish -g varnish \
              -S /etc/varnish/secret \
              -s file,/var/lib/varnish/$INSTANCE/varnish_storage.bin,256m"